<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756794886996-ke92tf73kork7vvah43ir347fh2alm4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756794886996-ke92tf73kork7vvah43ir347fh2alm4u</string>
	<key>API_KEY</key>
	<string>AIzaSyC1g3M9Tpwb_NrCbEAHJB-yAeJ1CJlbbXs</string>
	<key>GCM_SENDER_ID</key>
	<string>756794886996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleanArchitectureTdd.dev</string>
	<key>PROJECT_ID</key>
	<string>clean-architecture-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>clean-architecture-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756794886996:ios:6eae1cb176ec2ac0f4d6c1</string>
</dict>
</plist>